.about {
    min-height: 100vh;
    background-image: url("../image/about.jpg");
    background-size: cover
}

.about-content {
    padding-top: 10px;
}

.row {
    margin-bottom: 0px;
}

.about-cards {
    margin: 0px;
    border-top: 3px solid gray;
}

.about-cards .card-content {
    padding-top: 0px
}

.about-cards .card-title {
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    background: #DCDCDC;
    font-weight: bold
}

.float-right {
    float: right;
    font-size: 16px
}

.strong {
    font-weight: bold
}

.about-cards ul li{
    margin-left: 30px;
    display: list-item;
    list-style-type: disc
}
