.page-footer {
    background-color: #141f1f;
    border-top: 7px solid #40E0D0;
    position: sticky;
    bottom:0;
}

.elements {
    text-align: center
}

.contact {
    color: #40E0D0;
    display: inline-block;
}

.email, .phone{
    color: #40E0D0;
    padding-left: 5px
}

.email, .phoneNum {
    text-decoration: underline;
    font-style: italic
}