.home {
    background-image: url("../image/homebkrg.png");
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.home-content {
    padding-top: 50px
}

#line1 {
    position: relative;
    animation: slideDown 1.5s
}
@keyframes slideDown {
    0% {top: -100px;}
    33% {top: 100px;}
    66% {top: 25px;}
    100% {top: 75px}
}

#line2 {
  	overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #40E0D0;
    width: 14ch;
    opacity: 0;
    animation: line2typing 2.5s steps(16);
    -webkit-animation: line2typing 2.5s steps(16);
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes line2typing {
    0% { 
        width: 0ch
    }
    1% {
        opacity: 1
    }
    99.9% { 
        border-right: 4px solid #40E0D0;
    }
    100% {
        opacity: 1;
        border: none
    }
} 

#line3 {
    overflow: hidden;
    opacity: 0;
      white-space: nowrap;
      border-right: 4px solid #40E0D0;
      width: 26ch;
      animation: line3typing 3.5s steps(32), blink .50s step-end infinite alternate;
      -webkit-animation: line3typing 3.5s steps(32), blink .50s step-end infinite alternate;
      animation-delay: 4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    @keyframes line3typing {
    0% { 
        width: 0ch
    }
    1% {
        opacity: 1;
      }
    99.9% { 
        border-right: 4px solid #40E0D0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% { 
        border-color: transparent 
    }
}