.navbar {
    background-color: #17141d;
    border-bottom: 7px solid #40E0D0;
    height: 90px;
}

.navBar a {
    color:#40E0D0
}

.sidenav {
    background-color: #17141d;
}

.sidenav ul li a {
    color:#40E0D0
}

.nav-wrapper {
    padding-top: 10px
}

#name {
    margin-top: auto;
    position: absolute;
    white-space: nowrap;
    padding-left: 15px;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Parisienne', cursive;
    color: 	#40e0d0 !important
}

.right a {
    color: 	#40e0d0 !important
}

.right li:hover {
    transform: scale(1.2);
}

#logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    #name {
        display: none;
    };
}


